
@font-face {
    font-family: myFirstFont;
    src: url('fonts/ostrich-regular.ttf') format('TrueType');
     
    font-family: mySecondFont;
    src: url('fonts/CooperHewitt-Light.otf');
    
}


body{
    font-family: myFirstFont;
    margin: 0;
    padding: 0;
   /* background-image: url("../img/diagonal-noise.png");*/
    overflow: hidden;

}

div#logoDIV{
    display: inline-block;
    width: 80%;
    height: 100vh;
    position: relative;
    background-color: #0B0C10;
    }

div#logoDIV logo{
    display: block;
    position: absolute;
}

div #logo{
    width: 100%;
    height: 100%;
}

div#logoDIV img{
    height: auto;
    width: 45%;
    transform: translate(-50%,-50%);
    position: relative;
    top: 50%;
    left: 50%;
}

.slogan{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: inline-block;
    top: 0%;
    left: 0%;
}


.slogan #parrafo1{
    font-family: mySecondFont;
    position: relative;
    top: 35%;
    left: 50px;
    font-style: italic;
    font-size: 30px;
    color: #45A29E;
   
}


.slogan #parrafo2{
    font-family: mySecondFont;
    position: absolute;
    text-align: center;
    bottom: 50%;
    right: 50px;
    font-style: italic;
    font-size: 30px;
    color: #45A29E;
    
}



div#sideBarDIV{
    
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    height: 100vh;
    width:20%;
   /* background: linear-gradient(360deg, turquoise, lightgreen);*/
   background-color: #1F2833;
   
    overflow-x: hidden;
    
}

div #formDIV{
  /* transform: translate(-50%,-50%);*/
    position: relative;
    top: 0%;
    right: 0%;
    width: 100%;

}




.form-grouprow{
    position: relative;
    display: block;
    left: 14%;

}

.form-grouprow div input{
    border-radius: 10px;
    width: 200px;
    height: 22px;
    margin-bottom: 15px;
    padding: 1px;
}



#btn-primary{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    transform: translate(50%,50%);
    top: 50%;
    left: 50%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #9444fb;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


#btn-primary:hover {
    background-color: #66FCF1;
    color:#22145f;
}

#btn-primary2{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    transform: translate(50%,50%);
    top: 50%;
    left: 50%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #9444fb;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}


#btn-primary2:hover {
    background-color: #66FCF1;
    color:#22145f;
}
    


.card-header{
    font-family: mySecondFont;
    margin-bottom: 10px;
    margin-top: 30px;
    position: relative;
    display: block;
    left: 15%;
    color: #66FCF1;
}


form .INPtext{
    position: relative;
    width: 250px;
    height: 30px;
    background-color: white;
    color: gray;
    margin-bottom: 25px;
    border-radius: 9px;
    left: 9px;
    padding-left: 5px;
    
}

h6{
    position: relative;
    font-style: oblique;
	font-size: 20px; 
	color: #9444fb;
    transform: translate(50px,0px);
    margin-bottom: 50px;

}


p{
    font-family: mySecondFont;
    position: relative;
    color:white;
    margin-top:90px;
    left:  30%;
}
    
a{
    position: relative;
    display: block;
    left: 42%;
}

#hidden{
   
}