
@font-face {
    font-family: myFirstFont;
    src: url('fonts/CANDARA.TTF') format('truetype');
}


body{
    font-family: myFirstFont;
    margin: 0;
    padding: 0;
    background-image: url("/img/diagonal-noise.png");


}

div#logoDIV{
    display: inline-block;
    width: 75%;
    height: 100vh;
    position: absolute;
    
    }

div#logoDIV logo{
    display: block;
    position: absolute;
}

div#logoDIV img{
    height: 100vh;
    width: auto;
    transform: translate(-45%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.slogan{
    width: auto;
    height:100vh;
    position: relative;
    display: block;
}


.slogan #parrafo1{
	position: absolute;
	text-align: center;
	top: 0%;
    left : 20%;
	font-style: italic;
	font-size: 30px; 
	color:  #158f89;
	text-shadow: 2px 2px 4px #7bc74d;
}


.slogan #parrafo2{
	position: absolute;
	text-align: center;
    bottom: 80%;
    right : 0%;
    font-style: italic;
	font-size: 30px; 
	color:  #158f89;
	text-shadow: 2px 2px 4px #7bc74d;

}


div#sideBarDIV{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    height: 100vh;
    width:20%;
    background: linear-gradient(360deg, turquoise, lightgreen);
    overflow-x: hidden;
    
}

div #formDIV{
  /* transform: translate(-50%,-50%);*/
    position: relative;
    top: 0%;
    right: 0%;
    width: 100%;

}

#btnSubmit{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    transform: translate(75%,50%);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #9444fb;;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#btnSubmit:hover {background-color: #eeeeee;
    color:#22145f;}
    

#btnSubmit:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
}
    
form .INPtext{
    position: relative;
    width: 250px;
    height: 30px;
    background-color: white;
    color: gray;
    margin-bottom: 25px;
    border-radius: 9px;
    left: 9px;
    padding-left: 5px;
    
}

h6{
    position: relative;
    font-style: oblique;
	font-size: 20px; 
	color: #9444fb;
    transform: translate(50px,0px);
    margin-bottom: 50px;

}


p{
    position: relative;
    color:#393e46;
    margin-top:90px;
    left:  30%;
}
    
a{
    position: relative;
    display: block;
    left: 42%;
}
