
@font-face {
    font-family: myFirstFont;
    src: url('fonts/ostrich-regular.ttf') format('TrueType');
     
    font-family: mySecondFont;
    src: url('fonts/CooperHewitt-Light.otf');
}

body{
    font-family: mySecondFont;
    margin: 0px;
     background-color: #0B0C10;
     overflow-x: hidden;

}

#mainBody{
    height: auto;
    width: 99vw;
    display: block;
    position: relative;
    margin-bottom: 400px;
    top: 35px;
}


div.filaBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    position: relative;
    
}

@media screen and (min-width: 500px) {
    div.filabody {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 800px) {
    div.filaBody {
      grid-template-columns: 1fr 1fr ;
    }
  }


div.bodyElement{
    height: auto;
    width: 260px;
    display: inline-block;
    position: relative;
    padding: 10px 25px 10px 25px;
    align-content: center;
    
}

div.bodyElement img{
    height: auto;
    width: 260px;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#footer:not('basicH3'){
    font-family: mySecondFont;
    display: block;
    position: relative;
    color: #D0E1F9;
}

h2{
    font-family: mySecondFont;
    display: block;
    position: relative;
    top: 30px;
    left: 40px;
    color: #D0E1F9;
}

.followerImg{

}

.followerName{
    
}

/*FOOTER*/
#footer{
    display: block;
    position: relative;
    padding: 20px;
    background-color: #0B0C10;
    border-top-color: #1F2833;
    border-style: solid;
}

.basicP, .basicH3{
    font-family: mySecondFont;
    color:white;
}

.basicH3{
    
}

.headers{
    text-align: justify;
    width: 700px;
    margin: 0px;
    display: inline-block;
}

#copyright{
    left: 0%;
    top: 0%;
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 40px;
}

#info{
    width: 700px;
    display: inline-block;
    position: relative;
}

#socialMedia{
    position: relative;
    width: 380px;
    display: inline-block;
    right: -160px;
}






/*SOCIAL MEDIA*/

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover, div:not('basicP'){
    color: #d9d9d9;
    text-decoration:  underline;
}
h1,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
}
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 380px;
    display: block;
    margin-bottom: 35px;

}
.social-icon {
    color: #fff;
}

.social-icon img{ 
    left: 43px;
    position: relative;
    display: inline;
}

.social-icon #f{
    height: 45px;
    width: auto;
    top: 18px;
    left: 48px;
}


.social-icon #t{
    height: 25px;
    width: auto;
    top: 9px;
}

.social-icon #y{
    height: 30px;
    width: auto;
    top: 8px;
    left: 38px;
}


.social-icon #g{
    height: 20px;
    width: auto;
    top: 4px;
    left: 41px;
}


.social-icon #f:hover{
    background-color: #3d5b99;
}
.social-icon #t:hover{
    background-color: #00aced;
}
.social-icon #y:hover{
    background-color: #e64a41;
}
.social-icon #g:hover{
    background-color: #e25714;
}

ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding: 12px 25px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding: 12px 25px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-youtube {
    padding:12px 25px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-google-plus {
    padding:12px 25px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}
