@font-face {
    font-family: myFirstFont;
    src: url('fonts/CANDARA.TTF') format('truetype');
}

body{

    font-family: myFirstFont;
    
   
}

#container{
    width: 100%;
    height: 50px;
   background-color: #1F2833;

    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    z-index: 2;
}

#otherContainer{
    position: relative;
    float: right;
    height: 100%;
    width: 300px;
    padding: 5px;
    right: -10px;
    display: inline-block;
}

.menuElement{
    width: auto;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

.menuElementB{
    width: auto;
    height: 100%;
    margin-left: 10px;
    position: absolute;
    display: inline-block;
    top: 5px;
    left: 35%;
}

#symbol{
    height: 100%;
    width: auto;
    position: relative;
    top: -7px;
}

#symbol img{
    height: 35px;
    width: auto;
}
 .menuElementB input
{
    border-radius: 20px;
    height: 25px;
    width: 300px;
    padding-left: 5px;
}

.menuItem{
    height: 40px;
    width: 60px;
    display: inline-block;
    position: relative;
}

.menuItem img {
    height: 100%;
    width: auto;
    border-radius: 25px;
    top: 0px;
    left: 0px;
}
.menuItem p{
color: white;
font-weight: bold;
}

#user{
    height: 50px;
    width: 100%;
    margin: 0px;
    display: inline-block;
    position: relative;
    top: -15px;
}

.menuItem h4, #LogoContainer h4{
    font-weight: bold;
    color: white;
    position: relative;
    display: inline-block;
    top: -19px;
}

.menuItem h4:hover, #LogoContainer h4:hover{
    color:#D0E1F9;
}

#LogoContainer img{
    height: 100%;
    width: auto;
}

#LogoContainer {
    height: 100%;
    width: 200px;
 
    position: relative;
    display: block;
}


#busqueda{
    height: 100%;
    width: 375px;
    display: inline-block;
    position: relative;
    top: 0px;
    left: 0px;
}

#busqueda img {   
    height: auto;
    width: 25px;
    display: inline-block;
    position: relative;
    top: 11px;
    left: 10px;
}

#busqueda #img {   
    height: auto;
    width: 25px;
    display: inline-block;
    position: relative;
    top: 11px;
    left: 10px;
}

#busqueda #img:hover {   
    cursor: pointer;
}

a{
    text-decoration: none;
}