@font-face {
    font-family: myFirstFont;
    src: url('./fonts/CANDARA.TTF') format('truetype');

    font-family: mySecondFont;
    src: url('fonts/CooperHewitt-Light.otf');
}

body{
    height: 88vh;
    width: 95vw;
    display: block;
    position: relative;
    top: 50px;
    overflow-x: hidden;
    background-color: #0B0C10;
    margin: 30px 0px 0px 0px;

}

#leftContainer{
    display: block;
    position: relative;
    height: 100%;
    width: 40%;
    float: left;
}

#formContent{
    height: 100%;
    width: 100%;
}

#formContent label{
    height: 100%;
    width: 100px;
    display: block;
    
}

#formContent input:not(.radiobtn), 
{
    height: 23px;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.inputText, select{
    border-radius: 10px;
    width: 300px !important;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    left: 50%;
    top: -15px;
    transform: translate(-50%);
}

#contieneBtn{
    top: -25px;
    left: 0px;
    position: relative;
}

label, p{

    color: white;
    left: 20px;
    position: relative;
}

#rightContainer{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 60%;
    float: right;
}

#imageContainer{
    height: 100%;
    width: 100%;
}

#imageContainer img{
    height: 100%;
    width: auto;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

textarea{
    resize: none;
}


#btnDraft, #btnUpload{
    height: 35px !important;
    border-radius: 15px;
    width: 110px;
    border: none;
    background-color: lightblue;
    margin-right: 20px;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-90%);
}

#btnFile{
    position: relative;
    top: -25px;
    left: 24%;
}

#selectCategory{
    height:23px;

}

.radiobtn{
    height: 15px ;
    width: 15px ;
    display: inline-block;
    position: relative ;
    margin-left: 40px;
}

.radiotext{
    display: inline-block;
    margin: 0px;
    left: 95px;
}

#radioBtnContainer{
    display: inline-block;
    width: 250px;
    height: auto;
    position: relative;
    margin: 0px;
    left: 36%;
    transform: translate(-50%, -95%);
}