@font-face {
  font-family: myFirstFont;
  src: url('fonts/CANDARA.TTF') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: myFirstFont;
  background-image: url("../img/diagonal-noise.png");
}


#titulo{
  top: 8%;
  left: 5%;
  position: absolute;
}

 div.coverLayout{
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  display: inline-block;
  height: 200px;
  width: 95vw;
  overflow: hidden;
  position: relative;

}

.coverImage{
  width: 85%;
  height: 100%;
  display: inline-block;
  position: relative;
  float: right;
}

div.coverLayout .coverImage #robin{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}


 div.coverLayout .Avatar{
  height: 200px;
  width: 15%;
  top: 0;
  left: 0;
 position: relative;
  display: inline-block;
  overflow: hidden;
  z-index: 2;
}

div.coverLayout .Avatar img{
  height:100%;
  width: 100%;

}

 div.menu{
  height: 30px;
  width: 100%;
  padding-top: 10px;
  top: 0;
  position: relative;
}


div.menu .botonesSolicitud{
  transform: translateX(70vw);
  top: 0;
  right: 0;
  padding: 2px;
  width: 150px;
  z-index: 2;
  display: inline-block;
}


div.contenido{

  display: block;
  position: relative;
  margin-top: 30px;
  left: 50%;
  transform: translate(-50%);
  width: 900px;
  height: auto;
  background: gray;

} 


#allContent div.contenido a .fotoPost {
  display: block;
  position: relative;
  width: 90%;
  height: auto;
  left: 50%;
  transform: translate(-50%);
  top: 30px;
  border-radius: 30px;
}


div.contenido div.botones{
  display: block;
  position: relative;
  width: auto;
  height: auto;
  float: right;

}


div.contenido .iHeart{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 5px auto;
  position: relative;
  transform: translate(200px, 20px);
}


div.contenido .wrong{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 5px auto;
  position: relative;
  transform: translate(200px, 20px);
}

div.contenido .icomment{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 1px auto;
  position: relative;
  transform: translate(165px, -20px);
}

div.contenido .likes{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 1px auto;
  position: absolute;
  transform: translate(178px, 25px);
}

div.contenido .comentaritos{
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 1px auto;
  position: absolute;
  transform: translate(145px, -17px);
}

  div.contenido .hashtag{
    color: blue;
    width: auto;
    height: auto;
    display: inline-block;
    position: relative;
    left: 20px;
}

div.contenido .textoOpc{
  display: inline-block;
  position: relative;
  text-align: left;
  margin-top: 25px;
  margin-left: 20px;
}

h3{
  text-align: center;
  top: 10px;
  display: block;
  position: relative;
  margin: 0px;
}

.infoUsuario{
  display: inline-block;
    position: relative;
    width: 15%;
    height: auto;
    top: 0px;
    left: 0px;
    padding: 0px;
    background: linear-gradient(360deg, turquoise, lightgreen);
}



div.infoUsuario #descUsuario{
  color: black;
  display: block;
  position: relative;
  padding: 10px;
  text-align: justify;
}


#datosContacto{
  color: black;
}

#datosContacto div#mail, #datosContacto div#RedesSociales{
 text-align: center;
}


#datosContacto div#followUser{
  height: 200px;
  width: 100%;
  display: block;
  position: relative;
}


#datosContacto div#followUser  img{
  height: 50%;
  width: auto;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#allContent{
  display: inline-block;
  position: relative;
  width: 81%;
  height: auto;
  float: right;
  right: 54px;
}




/* #mainBody{
    height: auto;
    width: 100vw;
    display: block;
    position: absolute;
    top: 80%;


    
}


div.filaBody{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
  background-image: url("../img/diagonal-noise.png");
    
}

@media screen and (min-width: 500px) {
    div.filabody {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 800px) {
    div.filaBody {
      grid-template-columns: 1fr 1fr ;
    }
  }


div.bodyElement{
    height: auto;
    width: 260px;
    display: inline-block;
    position: relative;
    padding: 10px 25px 10px 25px;
    align-content: center;
    
}

div.bodyElement img{
    height: auto;
    width: 260px;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
} */
